{% extends 'base.html.twig' %}

{% block title %}New Indicateur{% endblock %}

{% block body %}
    <h1>Create new Indicateur</h1>

    {{ include('indicateur/_form.html.twig') }}

    <a href="{{ path('indicateur_index') }}">back to list</a>
{% endblock %}
