{{ form_start(form) }}
    {{ form_widget(form) }}
<div class="d-flex mt-3">
    <a href="{{ path('Utilisateurs') }}" class="btn btn-primary mr-1"><i class="fa fa-arrow-left"></i></a>
    <button class="btn btn-orange mr-1">{{ button_label|default('Enregistrer') }}</button>



