{% extends 'admin/base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Modifier Utilisateur</h1>
<div class="row">
    <div class="col-12">
        <div class="card border-top-primary shadow h-100 py-2">
            <div class="card-body">
                {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}
                {{ form_end(form) }}
                {{ include('user/_delete_form.html.twig') }}
                {% if app.request.get("_route") == 'passwordEdit' %}
                    {% else %}
                        <a href="{{ path('passwordEdit', {'id': user.id }) }}"><button type="button" class="btn btn-outline-secondary ml-1">Modifier le mot de passe</button></a>
                {% endif %}
            </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
