{% extends 'admin/base.html.twig' %}

{% block title %}Utilisateur - Nouveau{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header-primary">
                    <h4>Ajout d'un utilisateur</h4>
                </div>
                <div class="card-body">
                    {{ include('user/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
