{% extends 'admin/base.html.twig' %}

{% block title %}Utilisateur - Nouveau{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12">
            <div class="db-box bg-darker h-100 py-2">
                <div class="db-box-body">
                    <h1>Ajout d'un utilisateur</h1>
                    {{ include('user/_form.html.twig') }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
